<ion-header>
  <ion-toolbar>
    <ion-title>Create Car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Year</ion-label>
        <ion-input formControlName="year" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cost</ion-label>
        <ion-input formControlName="cost" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>